.App {
  text-align: center;
  height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 20vh;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Result {
  font-weight: normal;
}
